<% @orders.each do |order| %>
  <tr>
    <th scope="row"><%= order.product_id %></th>
    <td><%= order.product.name %></td>
    <td><%= order.product.category.name %></td>
    <td><%= order.sold_quantity %></td>
  </tr>
<% end %>